.sidebar {
	padding-top: 27px;
	position: fixed;
	width: 213px;
	height: 100%;
	background: #ffffff;
	box-shadow: 0px 3px 20px #00000029;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.line6 {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 162px;
	border: 1px solid #E0E0E0;
}

.sidebar h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.sidebar ul li a {
	display: block;
}

.logo {
	margin-left: 13%;
}

.sidebar ul li a{
	color: #BABABA;
	display: block;
}

.sidebar ul li:hover{
	background: #007DD0;
}


.line{
	margin-top: 17%;
	margin-left: 15%;
	width: 130px;
	opacity: 1;
}


.salesTitle, .salesTitle:hover{
	font: normal normal normal 12px/16px Avenir;
	letter-spacing: 0px;
	opacity: 1;
	margin-top: -11%;
	margin-left: 20%;
	text-decoration: none;
	color: #BABABA;
	height: 16px;
}

/* .pendingOrdersTitle, .salesTitle:hover{
	font: normal normal normal 13px/16px Roboto;
	letter-spacing: 0px;
	opacity: 1;
	margin-top: -13.5%;
	margin-left: 15%;
	text-decoration: none;
} */

/* .forPickupTitle, .salesTitle:hover{
	font: normal normal normal 13px/16px Roboto;
	letter-spacing: 0px;
	opacity: 1;
	margin-top: -13.5%;
	margin-left: 15%;
	text-decoration: none;
} */

#sales, #pendingOrders, #forPickup, #product{
	margin-top: 10px;
	height: 43px;
	align-self: center;
	border-radius: 25px 0px 0px 25px;
	padding-left: 25px;
	padding-top: 15px;
}


#salesimg{
	margin-top: -13%;
	
}

#pendingimg{
	width: 7%;
	margin-top: -13%;
	
}

#forPickupimg{
	width: 7%;
	margin-top: -13%;
}

/* ACCORDION */

.accordion-section {
	display: flex;
    margin: auto;
    flex-direction: column;
}

.accordion-title {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	display: flex;
	align-items: center;
	align-self: right;
	border: none;
	outline: none;
	transition: background-color 0.6s ease;
	margin-left: 30%;
	border-radius: 15px;
}
 
.accoDesign{
	height: 50px;
	width: 100px;
	background-color: #555;
	border-radius: 50%;
}

.active {
	background-color: #007DD0;
}



.accordion-icon {
	margin-left: auto;
	transition: transform 0.6s ease;
}
  
.rotate {
	transform: rotate(90deg);
}
  
.accordion-content {
	background-color:rgb(255, 255, 255);
	overflow: hidden;
	transition: max-height 0.6s ease;
}
  
.accordion-text {
	font-weight: 400;
	font-size: 14px;
	border-radius: 25px;
}
.name
{
    margin-left: 17px;
    width: 68px;
    height: 16px;
    color: var(--unnamed-color-ac2022);
    text-align: center;
    font: normal normal normal 14px/16px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}

.child-asset{
	height: 43px;
    width: 93%;
    margin-top: 3%;
    align-self: center;
    border-radius: 30px;
    padding: 10%;
}
.asset-panel{
	height: 100px;
	width: 100%;
	margin: auto;
}
.block{
	display: none !important;
}


.active-txt-color{
	color:#AC2022 !important;
}

.wrapperSidebar {
	position: fixed;
	width: 50%;
	bottom: 25px;
	display: flex;
	margin-left: 18px;
}

#fourth {
	position:relative;
	margin-left: 10px;
    width: 90%;
    float:left; /* add this */
	margin-top: 29px;
}

.rel {
	position: relative;
	overflow: hidden;
}

.icon {
	border-radius: 50%;
  }

.logout{
	text-align: left;
	font: normal normal normal 12px/17px Avenir;
	letter-spacing: 0px;
	color: #FF3636;
	opacity: 1;
}

.adminName{
	text-align: left;
	font: normal normal 900 12px/17px Avenir;
	letter-spacing: 0px;
	color: #505A7D;
	opacity: 1;
}

#sideBarIcon {
	position:relative;
    float: left; /* add this */
	margin-top: 29px;
}

#sidebarName {
	position:relative;
	margin-left: 8px;
    width: 90%;
    float:left; /* add this */
	margin-top: 30px;
}